name: Lints

on:
  pull_request:

jobs:
 detekt:
   runs-on: ubuntu-22.04

   steps:
     - name: "checkout"
       uses: actions/checkout@v4

     - name: "Set up JDK 17"
       uses: actions/setup-java@v4
       with:
         distribution: 'temurin'
         java-version: '17'

     - name: "Setup Gradle"
       uses: gradle/actions/setup-gradle@v4

     - name: "Run detekt"
       run: ./gradlew detekt
